{% extends 'base.html' %}
{% block content %}
<h1>Distributor Dashboard</h1>

<h2>Your Crops</h2>
<ul>
    {% if user_crops %}
        {% for crop in user_crops %}
            <li>{{ crop.name }} - {{ crop.quantity }} kg - {{ crop.specific_user_price }} ({{ crop.status }})
                <a href="{% url 'buy_crops' crop.id %}">Buy</a>
            </li>
        {% endfor %}
    {% else %}
        <li>No crops listed yet.</li>
    {% endif %}
</ul>

<h2>Publicly Available Crops</h2>
<ul>
    {% if public_crops %}
        {% for crop in public_crops %}
            <li>{{ crop.name }} - {{ crop.quantity }} kg - {{ crop.price }} ({{ crop.status }})
                <a href="{% url 'buy_crops' crop.id %}">Buy</a>
            </li>
        {% endfor %}
    {% else %}
        <li>No public crops available.</li>
    {% endif %}
    <!-- {% for user_specific in all_user_specifics %}
        {% for crop in user_crops %}
        {% if user_specific.allowed %}
                <li>{{ crop.name }} - {{ crop.quantity }} kg - {{ crop.specific_user_price }} (Your Price)
                    <a href="{% url 'buy_crops' crop.id %}">Buy</a>
                </li>
            {% else %}
                <li>{{ crop.name }} - {{ crop.quantity }} kg - {{ crop.public_price }} (Public Price)
                    <a href="{% url 'buy_crops' crop.id %}">Buy</a>
                </li>
            {% endif %}
        {% endfor %}
    {% endfor %} -->
    {% for crop in not_allowed_crops %}
        <li>{{ crop.crop.name }} - {{ crop.crop.quantity }} kg - {{ crop.crop.price }}  ({{ crop.crop.status }})
            <a href="{% url 'buy_crops' crop.crop.id %}">Buy</a>
        </li>
        
    {% empty %}
        <li>No crops found where you are not allowed.</li>
    {% endfor %}
</ul>

{% endblock %}
